.customer {
    display: flex;
    align-items: center;
    flex-direction: column;


&__tittle {
    display: none;
}

/* img */

&__profile-img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 80px;


&img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}}

/* comment */
&__comment {
    background: #fafafa;
    margin-top: 29px;
    padding: 43px 62px 26px;
    max-width: 280px;

    text-align: center;
}

&__comment-txt {
    font-size: 12px;
    font-weight: 500;
    line-height: 255%;
    letter-spacing: 0em;
    width: 157px;
    position: relative;
    top: -4px;
}

&__comment-gradient:before {
    display: inline-flex;
    content: '';
    background-image: url('/images/icons.svg#icon-Quote');
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    border: solid green 2px;

    position: absolute;
    top: -27px;
    left: -13px;
}


&__comment-gradient {
    background: repeating-linear-gradient(#fafafa,
            #fafafa 28px,
            rgba(225, 225, 225, 1) 1px,
            rgba(225, 225, 225, 1) 29px);
    width: 180px;
    position: relative;
    top: 4px;
}

&__name {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
}

&_invisible {
    display: none;
}

/* // svg */
&__svg-active {
    fill: #D31342;

}

&__svg {
    fill: #D9D9D9;
}

&__svg-distance {
    fill: #D9D9D9;
    padding: 0 18px;
}

&__svg-decoration {
    fill: #D31342;
    margin-top: 30px;
}

&__svg-decoration-distance {
    padding: 0 10px;

    fill: #D31342;
}

}

/* media */

@media screen and (min-width: 768px) {
    .customer__comment {
        margin-top: 19px;
        padding: 47px 80px 34px;
        max-width: 620px;
    }

    .customer__comment-txt {
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.04em;
        width: 460px;
        position: relative;
        top: -3px;
    }

    .customer__comment-gradient {
        width: 524px;
        position: relative;
        top: 3px;
    }

    .customer__name {
        font-size: 16px;
    }

    .customer__svg-decoration {

        margin-top: 24px;
    }
}



@media screen and (min-width: 1200px) {
    .customer__comment {
        margin-top: 15px;
        padding: 47px 89px 39px;
        max-width: 926px;
    }


    .customer__comment-gradient {
        width: 813px;
        position: relative;
        top: 3px;
    }

    .customer__comment-txt {
        max-width: 750px;
        font-size: 16px;
        text-align: center;
        width: 750px;
        position: relative;
        top: -3px;
    }

    .customer__name {
        font-size: 20px;
        line-height: 37px;
    }

    .customer__svg-decoration {

        margin-top: 15px;
    }
}