.gallery__tittle {
  display: none;
}
.gallery {
  width: 100%;

  padding-bottom: 123px;
}
/*
.gallery {
  background-image: url('/images/gallery_desktop@x2.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('/images/gallery_desktop@x2.png');
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    background-image: url('/images/gallery_desktop@x2.png');
  }
}*/
