.gallery__tittle {
  display: none;
}

.gallery {
  background-image: url('/images/gallery.png');
  width: 364px;
  height: 122px;

  background-size: 100%;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .gallery {
    background-image: url('/images/gallery@2x.png');
  }
}

/*TABLET*/

@media screen and (min-width: 768px) {
  .gallery {
    width: 786px;
    height: 264px;
    background-size: 100%;
    background-image: url('/images/gallery@2x');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .gallery {
      background-image: url('/images/gallery@3x.png');
    }
  }
}

/*DESKTOP*/

@media screen and (min-width: 1200px) {
  .gallery {
    background-size: 100%;
    background-image: url('/images/gallery_desktop@x2.png');
    width: 1280px;
    height: 430px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .gallery {
      background-image: url('/images/gallery@4x.png');
    }
  }
}
