@charset "UTF-8";
body {
  font-family: "DM sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
}

.contacts {
  background: linear-gradient(180deg, #ffffff 85px, #fff5f6 85px);
  width: 100%;
  justify-content: center;
}
.contacts__card {
  width: 220px;
  height: 427px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 43px;
  padding-left: 20px;
}
.contacts__label {
  width: 80px;
  height: 16px;
  background: #f0d1a5;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.83;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 25px;
}
.contacts__label--color {
  width: 130px;
  background: #c2e297;
}
.contacts__heading {
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
}
.contacts__text {
  font-weight: 500;
  width: 179px;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
.contacts__border {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin: 25px 20px 25px 0;
  padding-top: 25px;
  padding-bottom: 25px;
  list-style: none;
}
.contacts__open-days {
  font-size: 12px;
  line-height: 1.83;
  color: #000000;
}
.contacts__item li:first-child {
  margin-bottom: 10px;
}
.contacts__open-hour {
  font-size: 12px;
  line-height: 1.83;
  color: #ffa5ba;
}
.contacts__links {
  list-style: none;
}
.contacts__links a {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
.contacts__btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-top: 54px;
}
.contacts__btn-locations {
  width: 161.45px;
  height: 44px;
  background: #d41342;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: transparent;
  margin: 0 auto;
}
.contacts__btn-franchise {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  background: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d41443;
  border: transparent;
  margin: 0 auto;
}
.contacts__btn-franchise:hover, .contacts__btn-franchise:focus {
  background: #ecebeb;
}

@media screen and (min-width: 768px) {
  .contacts {
    background: linear-gradient(180deg, #ffffff 78px, #fff5f6 78px);
  }
  .contacts__cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 34px;
    margin-right: 34px;
  }
  .contacts__card {
    margin: 0;
    flex-basis: calc((100% - 40px) / 3);
    height: 544px;
    padding-left: 31px;
    padding-top: 50px;
    margin-bottom: 81px;
  }
  .contacts__label {
    width: 73px;
    height: 28px;
    border-radius: 6px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.88;
  }
  .contacts__label--color {
    width: 138px;
    background: #c2e297;
  }
  .contacts__heading {
    font-size: 14px;
    line-height: 1.88;
    margin-bottom: 14px;
  }
  .contacts__text {
    font-size: 14px;
    line-height: 1.64;
    padding-right: 38px;
  }
  .contacts__border {
    margin: 30px 32px 30px 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}/*# sourceMappingURL=main.css.map */