@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

.button__nav {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 1.31;
  width: 159px;
  height: 44px;
  text-align: center;
  color: #d41443;
  border-style: none;
  background: #ffffff;
  border-radius: 22px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__nav:hover {
  color: rgb(212, 20, 67);
  background: #ecebeb;
  border-style: none;
}

.button__header-one {
  font-family: "DM Sans";
  font-size: 14px;
  line-height: 1.28;
  width: 104px;
  height: 40px;
  text-align: center;
  color: white;
  border-style: none;
  background: #d41443;
  border-radius: 20px;
  cursor: pointer;
}
.button__header-one:hover {
  background: #c7133e;
  color: #ffffff;
}

.button__header-two {
  font-family: "DM Sans";
  line-height: 1.28;
  font-size: 14px;
  width: 138px;
  height: 40px;
  text-align: center;
  color: rgb(212, 20, 67);
  border-style: none;
  background: #ffffff;
  border-radius: 20px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__header-two:hover {
  background-color: #ecebeb;
}

.button__about {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 1.31;
  width: 176px;
  height: 44px;
  text-align: center;
  color: rgb(212, 20, 67);
  border-style: none;
  background: #ffffff;
  border-radius: 22px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__about:hover {
  background-color: #ecebeb;
}

.button__contacts-one {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 1.31;
  width: 198px;
  height: 44px;
  text-align: center;
  color: #ffffff;
  border-style: none;
  background: #d41342;
  border-radius: 22px;
  cursor: pointer;
}

.button__contacts-two {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 1.31;
  width: 180px;
  height: 44px;
  line-height: 21px;
  text-align: center;
  color: #d41443;
  border-style: none;
  background: #ffffff;
  border-radius: 22px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__contacts-two:hover {
  background-color: #ecebeb;
}/*# sourceMappingURL=main.css.map */