
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
 
@use './general';
@import './mobile-menu';
@import './about';
@import './header';
@import './footer';
@import './advantages';

