@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Titan+One&display=swap");
body {
  font-family: "DM sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.mobile-menu {
  background-color: #e17992;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}
.mobile-menu__icon {
  stroke: #ffffff;
}
.mobile-menu__close {
  position: absolute;
  background-color: #e17992;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 23px;
  right: 28px;
  height: 30px;
}
.mobile-menu__buy {
  display: block;
  margin: auto;
  cursor: pointer;
  width: 186px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  border-style: none;
  color: #d41443;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 19px;
  margin-top: 60px;
}
.mobile-menu__buy-icon {
  width: 5.26px;
  height: 8px;
  border: 2px solid #d41443;
  border-style: none;
  fill: #d41443;
}
.mobile-menu__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding-left: 32px;
}
.mobile-menu__link:hover, .mobile-menu__link:focus, .mobile-menu__link--active {
  color: #d41443;
}
.mobile-menu__menu {
  padding-left: 0px;
  margin-top: 0px;
  list-style-type: none;
}
.mobile-menu__item {
  padding-bottom: 12px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e18298;
}
.mobile-menu__item:first-child {
  border-top: 1px solid #e18298;
  padding-top: 12px;
}

.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.about {
  text-align: center;
  background-color: rgb(255, 245, 246);
  font-family: "Titan One", cursive;
}
.about__container {
  max-width: 767px;
  margin: 0;
  padding: 0 20px;
}
.about h3 {
  padding-top: 125px;
  color: rgb(255, 165, 186);
  font-size: 18px;
  text-transform: uppercase;
}
.about h2 {
  color: rgb(212, 20, 67);
  font-size: 34px;
  text-transform: uppercase;
}
.about__text {
  font-family: "DM Sans", sans-serif;
  color: rgb(144, 126, 130);
  font-size: 12px;
  font-weight: 500;
}
.about__text--color {
  color: rgb(0, 0, 0);
}
.about__text li {
  list-style: none;
}

.header {
  background: #ffb8ca;
  position: relative;
  min-width: 320px;
}
.header__div {
  padding: 6px 20px;
}
.header__block {
  display: flex;
  align-items: center;
  margin-bottom: 137px;
}
.header__logo {
  min-width: 199px;
  height: 50px;
}
.header__logo-link {
  cursor: pointer;
}
.header__nav-list {
  display: none;
}
.header__menu-toggle {
  stroke: #d41443;
}
.header__button-buy {
  display: none;
}
.header__title {
  width: 218px;
  font-family: "Titan One";
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.header__title-span {
  font-size: 48px;
  line-height: 0.965;
  color: #d41443;
}

.menu-toggle {
  margin-left: auto;
  padding: 0;
  outline: none;
  background-color: transparent;
  border: none;
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header__div {
    padding: 37px 34px 28px 34px;
  }
  .header__block {
    margin-bottom: 15px;
  }
  .header__button-buy {
    display: block;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    border: none;
    background: #ffffff;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    color: #d41443;
    cursor: pointer;
  }
  .header__button-buy:hover, .header__button-buy:focus {
    background: #ecebeb;
  }
  .header__title {
    width: 162px;
    font-size: 22px;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }
  .header__title-span {
    font-size: 34px;
    line-height: 0.905;
  }
  .menu-toggle {
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .header__div {
    padding: 37px 115px 45px 77px;
  }
  .header__block {
    margin-bottom: 84px;
  }
  .header__navigation {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .header__nav-list {
    list-style-type: none;
    display: flex;
    gap: 35px;
  }
  .header__nav-element {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    cursor: pointer;
  }
  .header__nav-element--active {
    color: #d41443;
  }
  .header__nav-element--active:visited {
    color: #d41443;
  }
  .header__nav-element--notactive {
    color: #ffffff;
  }
  .header__nav-element--notactive:visited {
    color: #ffffff;
  }
  .header__nav-element--notactive:hover, .header__nav-element--notactive:focus {
    color: #d41443;
  }
  .header__nav-link {
    text-decoration: none;
  }
  .header__title {
    width: 277px;
    font-size: 38px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    margin-left: 69px;
  }
  .header__title-span {
    font-size: 58px;
    line-height: 0.905;
  }
  .menu-toggle {
    display: none;
  }
}
.footer {
  background-color: #FFF5F6;
  min-width: 320px;
}
.footer__heading {
  color: #FFA5BA;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.145;
  padding: 0 66px 0 22px;
}
.footer__heading--color {
  color: #D41443;
  line-height: 1.145;
  padding: 17px 100px 0 0;
}

.footer__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0 auto;
}

.advantages {
  display: none;
}
.advantages__list {
  list-style-type: none;
  display: flex;
}
.advantages__item {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
.advantages__item::before {
  content: "";
}
.advantages__description {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    flex-direction: column;
  }
  .advantages__item {
    font-size: 48px;
    line-height: 1.14;
  }
  .advantages__description {
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    font-size: 36px;
    line-height: 1.13p;
  }
  .advantages__description {
    font-size: 12px;
    line-height: 1.66;
  }
}/*# sourceMappingURL=main.css.map */