<section class="about">
    <div class="about__container">
<div class="about__background">
    <h3>Tradition and Love</h3>
    <h2>How it's made?</h2>
    <ul>
        <li>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</li>
        <li>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</li>
        <li>Aliquam erat volutpat. Aenean accumsan.</li>
    </ul>
<button type="button">Read more > </button>
</div>
</div>
</section>