<section class="contacts">
  <div class="contacts__chicago">
    <span>CAFE</span>
    <h4>Chicago</h4>
    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <ul>
      <li>
        <h4>Monday - Friday</h4>
        <p>06:00 AM - 10:00 PM</p>
      </li>
      <li>
        <h4>Saturday - Sunday</h4>
        <p>08:00 AM - 16:00 PM</p>
      </li>
    </ul>
    <ul>
      <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
      <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>
  </div>

  <div class="contacts__LA">
    <span>FOODTRUCK</span>
    <h4>Los Angeles</h4>
    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <ul>
      <li>
        <h4>Monday - Friday</h4>
        <p>06:00 AM - 10:00 PM</p>
      </li>
      <li>
        <h4>Saturday - Sunday</h4>
        <p>08:00 AM - 16:00 PM</p>
      </li>
    </ul>
    <ul>
      <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
      <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>
  </div>

  <div class="contacts__NY">
    <span>CAFE</span>
    <h4>New York</h4>
    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <ul>
      <li>
        <h4>Monday - Friday</h4>
        <p>06:00 AM - 10:00 PM</p>
      </li>
      <li>
        <h4>Saturday - Sunday</h4>
        <p>08:00 AM - 16:00 PM</p>
      </li>
    </ul>
    <ul>
      <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
      <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>
  </div>
  <button type="button">Our Locations</button>
  <button type="button">Franchise</button>
</section>
