<section class="contacts">
  <div class="contacts__card">
    <span class="contacts__label ">CAFE</span>
    <h4 class="contacts__locations">Chicago</h4>
    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <ul class="contacts__open contacts__border ">
      <li>
        <h4 class="contacts__open-days">Monday - Friday</h4>
        <p class="contacts__open-hour"><time datetime="T06:00">06:00 AM</time> - <time datetime="T22:00">10:00 PM</time></p>
      </li>
      <li>
        <h4 class="contacts__open-days">Saturday - Sunday</h4>
        <p class="contacts__open-hour"><time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time></p>
      </li>
    </ul>
    <ul class="contacts__links">
      <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
      <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>
  </div>

  <div class="contacts__card">
    <span class="contacts__label contacts__label--color">FOODTRUCK</span>
    <h4 class="contacts__locations">Los Angeles</h4>
    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <ul class="contacts__open">
      <li>
        <h4 class="contacts__open-days">Monday - Friday</h4>
        <p class="contacts__open-hour"><time datetime="T06:00">06:00 AM</time> - <time datetime="T22:00">10:00 PM</time></p>
      </li>
      <li>
        <h4 class="contacts__open-days">Saturday - Sunday</h4>
        <p class="contacts__open-hour"><time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time></p>
      </li>
    </ul>
    <ul class="contacts__links">
      <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
      <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>
  </div>

  <div class="contacts__card">
    <span class="contacts__label">CAFE</span>
    <h4 class="contacts__locations">New York</h4>
    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <ul class="contacts__open">
      <li>
        <h4 class="contacts__open-days">Monday - Friday</h4>
        <p class="contacts__open-hour"><time datetime="T06:00">06:00 AM</time> - <time datetime="T22:00">10:00 PM</time></p>
      </li>
      <li>
        <h4 class="contacts__open-days">Saturday - Sunday</h4>
        <p class="contacts__open-hour"><time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time></p>
      </li>
    </ul>
    <ul class="contacts__links">
      <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
      <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>
  </div>
  <button class="contacts__btn-locations" type="button">Our Locations</button>
  <button class="contacts__btn-franchise" type="button">Franchise</button>
</section>
