<section class="customer">
    <div class="customer customer__box">
        <div class="customer__tittle">
            <tittle>Customer Reviews</tittle>
        </div>
        <!--img---->
        <div class="customer__profile-img">
            <img src="https://rikoland.pl/data/include/img/news/1629290148.jpg" />
        </div>
        <!--Comments---------------------------------------->
        <div class="customer__comment ">
            <p class="customer__comment-txt "><span class="customer__comment-gradient">Nullam viverra consectetuer.
                    Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span></p>
        </div>
        <!--User---------------------------------------->
        <div>
            <p>...</p>
        </div>
        <div class="customer__name">
            <p class="customer__name ">Emily, Los Angeles</p>
        </div>
        <div>
            <p>...</p>
        </div>
    </div>

    <div class="customer customer__box customer_invisible">
        <div class="customer__tittle">
            <tittle>Customer Reviews</tittle>
        </div>
        <!--img---->
        <div class="customer__profile-img">
            <img src="https://rikoland.pl/data/include/img/news/1629290148.jpg" />
        </div>
        <!--Comments---------------------------------------->
        <div class="customer__comment">
            <p class="customer__comment-txt">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <!--User---------------------------------------->
        <div>
            <p>...</p>
        </div>
        <div class="customer__name">
            <p>Emily, Los Angeles</p>
        </div>
        <div>
            <p>...</p>
        </div>
    </div>

</section>