<footer class="footer">
    <h2 class="footer__heading">HOMEMADE ICE CREAM <br>MADE</br>
        <span class="footer__heading footer__heading--color">WITH <br>PASSION</br>
        </span>
    </h2>
    <ul class="footer__list footer__list--gap">
        <li>
            <a class="footer__link" href="">
                <svg class="footer__icon footer__icon--social">
                    <use width="32" height="32" x="12" y="12" xlink:href="./images/icons.svg#icon-Github">
                    </use>
                </svg>
            </a>
        </li>
        <li>
            <a class="footer__link" href="">
                <svg class="footer__icon footer__icon--social">
                    <use width="32" height="32" x="12" y="12" xlink:href="./images/icons.svg#icon-Telegram">
                    </use>
                </svg>
            </a>
        </li>
        <li>
            <a class="footer__link" href="">
                <svg class="footer__icon footer__icon--social">
                    <use width="32" height="32" x="12" y="12" xlink:href="./images/icons.svg#icon-Facebook">
                    </use>
                </svg>
            </a>
        </li>

    </ul>

</footer>