<section class="gallery">
  <div class="container">
    <h2 class="gallery__tittle">Gallery</h2>
    <!-- <div class="gallery__image-item">
       <ul>
        <li>
          <picture>
            <source
              srcset="
                      images/gallery.png    1x, 
                      images/gallery@2x.png 2x,
                      images/gallery@3x.png  3x;
                      images/gallery@4x.png 4x
                    "
              media="(max-width: 1200px)"
            />
            <img class="gallery__image" src="./images/gallery.png" alt="Photos with Icecream" />
          </picture>
        </li>
      
      </ul>
    </div> -->
  </div>
</section>
