<header class="header">
  <div class="header__div">
    <div class="header__block">
      <a class="header__logo-link" href="#"
        ><img class="header__logo"
          src="./images/logo.png"
          srcset="./images/logo@2x.png 2x"
          alt="Logo"
          width="199"
          height="50"
      /></a>
      <nav class="header__navigation">
        <ul class="header__nav-list">
          <li class="header__nav-element header__nav-element--active">
            <a class="header__nav-link" href="#home"></a>Home
          </li>
          <li class="header__nav-element header__nav-element--notactive">
            <a class="header__nav-link" href="#aboutus"></a>About us
          </li>
          <li class="header__nav-element header__nav-element--notactive">
            <a class="header__nav-link" href="#howitsmade"></a>How it's made?
          </li>
          <li class="header__nav-element header__nav-element--notactive">
            <a class="header__nav-link" href="#ourproducts"></a>Our products
          </li>
          <li class="header__nav-element header__nav-element--notactive">
            <a class="header__nav-link" href="#contact"></a>Contact
          </li>
        </ul>
      </nav>
<button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="header__menu-toggle" width="20" height="12">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
</button>
      <button class="header__button-buy">Buy now</button>
    </div>
    <h1 class="header__title">
      Icecream made with <span class="header__title-span">passion</span>
    </h1>
  </div>
</header>
