<div class="mobile-menu js-menu-container">
  <div class="mobile-menu__flex">
    <button class="mobile-menu__close js-close-menu">
      <svg width="14" height="14">
      <use href="./images/icons.svg#icon-mobileMenuClose"></use>
    </svg>
      <button class="mobile-menu__buy">
        Buy now <svg class="mobile-menu__buy-icon" width="5" height="8">
        <use href="./images/icons.svg#icon-ButtonArrowRight"></use>
      </svg>
      </button>
  </div>
  <ul class="mobile-menu__menu">
    <li class="mobile-menu__item">
      <a href="#Home" class="mobile-menu__link mobile-menu__link--active ">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#About us" class="mobile-menu__link ">About us</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#How it’s made?" class="mobile-menu__link">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#Our products" class="mobile-menu__link">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#Contact" class="mobile-menu__link">Contact</a>
    </li>
  </ul>
</div>

<!-- <script src="./js/mobile-menu.js"></script> -->